<div class="vpad--xxxl bg--dark bg--img" style="background-image: url('{{site.img}}/content/flights/banner-bg.jpg');">
  <div class="container">
    <div class="width width--xl">
      <div class="text--center text--white">
        <h2 class="title title--lg">Book your stopover in Singapore with Qantas</h2>
        <div class="width width--lg">
          <p class="text--xxl text--bold">Qantas’ Singapore hub is your springboard for all Asia travel.</p>
        </div>
        <div class="space--sm"></div>
        <a href="{{site.baseurl}}/flights" class="btn btn--red">See flights</a>
      </div>
    </div>
  </div>
</div>