<div class="vpad--xxxl bg--dark bg--img" style="background-image: url('{{site.img}}/content/competition/banner-bg.jpg');">
  <div class="width width--xl">
    <div class="text--center text--white">
      <h2 class="title title--lg">Make the itinerary a reality</h2>
      <div class="width width--xl">
        <p class="text--xxl text--bold">Win your very own four-night stay in this vibrant Southeast Asian starlet, for you and your travel partner. You’ll fly in comfort with Qantas for a luxurious stay at the Villa Samadhi, a boutique hotel decked with colonial-era refinement.</p>
      </div>
      <div class="space--sm"></div>
      <a href="{{site.baseurl}}/competition" class="btn btn--red">Enter now</a>
    </div>
  </div>
</div>