<a id="track-qantas-logo{{include.placement | prepend: '-'}}" class="logo logo--partner{% if include.small %} logo--partner-sm{% endif %}" href="{{site.client.link}}">
  <img src="{{site.img}}/logo/partner.svg" alt="{{site.client.name}} Logo">
</a>
<a id="track-singapore-logo{{include.placement | prepend: '-'}}" class="logo logo--signapore{% if include.small %} logo--signapore-sm{% endif %}" href="http://www.visitsingapore.com/en/">
  <img src="{{site.img}}/logo/singapore.svg" alt="Visit Singapore Logo">
</a>