<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body class="no-js">

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% include page/banner.html %}

    <div class="content-spacing section-spacing">
      {{ content }}
    </div>

    {% include page/footer.html %}

    {% include modal/modal.html %}

    <!-- impression pixel -->
    <div class="hidden">
      <a class="js-tracking-timestamp" href="https://ad.doubleclick.net/ddm/jump/N8069.1692340SECRETESCAPES.COM/B22770940.247723974;sz=1x1;ord=[timestamp]?">
        <img class="js-tracking-timestamp" src="https://ad.doubleclick.net/ddm/ad/N8069.1692340SECRETESCAPES.COM/B22770940.247723974;sz=1x1;ord=[timestamp];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=?" border="0" width="1" height="1" alt="Advertisement">
      </a>
    </div>

  </body>

</html>