---
layout: default
---

<div class="vpad--xxl">
  <div class="container">
    <div class="width width--xl text--xxl text--center">
      <p>{{page.intro}}</p>
    </div>
  </div>
</div>

<div class="vpad--xxl bg--light">
  <div class="container">
    {% for feature in page.features %}
      <div class="bob{% cycle '', ' bob--swap' %}">
        <div class="bob__img">
          <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/img.jpg');">
            <a id="track-lexus-features-{{feature.id}}-img" class="bg-img__link" href="{{feature.link}}"></a>
          </div>
        </div>
        <div class="bob__text">
          <h2 class="title title--sm">{{feature.title}}</h2>
          <p>{{feature.description}}</p>
          <div class="space--sm"></div>
          <a id="track-lexus-{{feature.id}}-btn" href="{{feature.link}}" class="btn btn--sm btn--outline btn--outline-qt-red"{% if feature.open-in-tab %} target="_blank"{% endif %}>Find Out More</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="vpad--xxl">
  <div class="container">
    <div class="width width--xl text--center">
      <h2 class="title title--md">flight options</h2>
      <p class="width width--lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sunt quam earum tenetur fuga atque rem nam asperiores, eveniet pariatur temporibus commodi officiis ut. Quia, quo vero facilis esse aliquid.</p>
      <div class="space--md"></div>
      <div class="width width--lg">
        <div class="row row--md-6-6">
          <div class="col">
            <div class="bg--light boxpad--xl">
              <p class="text--xxl">Economy return from</p>
              <div><p class="title title--md">£999*</p></div>
            </div>
          </div>
          <div class="col">
            <div class="bg--light boxpad--xl">
              <p class="text--xxl">Business return from</p>
              <div><p class="title title--md">£9999*</p></div>
            </div>
          </div>
        </div>
      </div>

      <div class="space--md"></div>
      <a href="#flights-link" class="btn btn--lg btn--qt-red">See All Flights</a>
    </div>
  </div>
</div>

{% include page/promo-competition.html %}